/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.ng-invalid:not(form) {
 border-left: 5px solid red;
}

.ng-valid:not(form) {
  border-left: 5px solid green;
 }
