<body class="text-center">
  <form class="form-signin" #singupForm=ngForm (ngSubmit)="onSubmit()" >
    <div class="alert alert-danger" [hidden]="!error">{{error}} </div>
    <h1 class="h3 mb-3 font-weight-normal">Sign Up</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" autocomplete="current-email" name="email" id="inputEmail" class="form-control" placeholder="Email address" [(ngModel)]="form.email" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" autocomplete="current-password" name="password" id="inputPassword" class="form-control" placeholder="Password" [(ngModel)]="form.password" required>
    <input type="password" autocomplete="confirm-password" name="confirm_password" id="inputConfirmPassword" class="form-control" placeholder="Confirm password" [(ngModel)]="form.confirm_password" required>
    <div class="col-sm-12">
      <button class="btn btn-lg btn-primary float-left" type="submit" [disabled]="!singupForm.valid" >Sign Up</button>
      <a routerLink='/login' class="btn btn-lg btn-success float-right"  >Sign In</a>
    </div>
    <br>

    <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
  </form>
</body>
