<body class="text-center">
  <form class="form-signin" #loginForm=ngForm (ngSubmit)="onSubmit()" >
    <div class="alert alert-danger" [hidden]="!error">{{error}} </div>
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" autocomplete="current-email" name="email" id="inputEmail" class="form-control" placeholder="Email address" [(ngModel)]="form.email" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" autocomplete="current-password" name="password" id="inputPassword" class="form-control" placeholder="Password" [(ngModel)]="form.password" required>
    <div class="col-sm-12">
      <button class="btn btn-lg btn-primary float-left" type="submit" [disabled]="!loginForm.valid" >Sign in</button>
      <a routerLink='/signup' class="btn btn-lg btn-success float-right"  >Sign Up</a>
    </div>
    <small class="float-left">
      <a routerLink='/reset-password'>Reset password</a>
    </small>
    <br>

    <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
  </form>
</body>
