<body class="text-center">
  <form class="form-signin" #requestResetForm=ngForm (ngSubmit)="onSubmit()" >
    <h1 class="h3 mb-3 font-weight-normal">Email</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" autocomplete="current-email" name="email" id="inputEmail" class="form-control" placeholder="Email address" [(ngModel)]="form.email" required autofocus>
     <div class="col-sm-12">
      <button class="btn btn-lg btn-primary float-left" type="submit" [disabled]="!requestResetForm.valid" >Reset</button>

    </div>
    <br>

    <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
  </form>
</body>
