
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('Login'), ['controller' => 'Users','action' => 'login']) ?></li>
        <li><?= $this->Html->link(__('Sign-up'), ['controller' => 'Users','action' => 'signup']) ?></li>
    </ul>
</nav>
<div class="users form large-9 medium-8 columns content">
<p>you Are now in the No-Connection-Required directory</p>
</div>
