<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" >Geekslab</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

    </ul>
    <a class="navbar-brand" routerLink="login" *ngIf="!loggedIn" >Login</a>
    <a class="navbar-brand" href="#" *ngIf="loggedIn" (click)="logout($event)" >Logout</a>
    <a class="navbar-brand" routerLink="profile" *ngIf="loggedIn">Profile</a>
  </div>
</nav>
